* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	max-width: 1600px;
}

.grid {
	width: 75%;
	margin: 0px auto;
}

@media (max-width: 1175px) {
	.grid {
		width: 98%;
		margin: 0px auto;
	}
}
.header {
	border-bottom: solid thick #D0C4AB;
}

h1 {
	font-weight: 900;
	font-size: 60px;
	text-transform: uppercase;
	margin: 3px;
	color: #131A2D;
}

h2 {
	font-size: 36px;
	color: #D0C4AB;
	font-weight: 400;
}

h3 {
	font-weight: 300;
	font-size: 28px;
	text-transform: uppercase;
	margin: 0px;
	color: #131A2D;
}

.content {
	background-color: #131A2D;
	margin-top: 20px; 
	padding-top: 30px;
	max-width: 100%;
}

.links {
	text-align: center; 
	color: #D0C4AB;
	margin-top:0px;
	margin-bottom:20px;
	margin-left: 20px;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}